/* RESET RULES 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background: radial-gradient(
      circle,
      rgba(38, 117, 215, 1) 29%,
      rgba(21, 81, 153, 1) 58%
    )
    no-repeat center center fixed;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font: 16px/1.5 sans-serif;
}

.btn-group {
  text-align: center;
}

.open-modal {
  font-weight: bold;
  background: var(--blue);
  color: var(--white);
  padding: 0.75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

/* MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: var(--lightgray);
  text-align: center;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .close-modal {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}

#modal-button {
  background-color: red;
  width: 100px;
  border-radius: 10px;
  margin: 0, auto;
  font-style: italic;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  border-radius: 100%;
  transition: 0.2s;
  border: transparent;
  margin: 1%;
}

.hover:hover {
  border: 2px solid rgb(1, 7, 88);
}

.container {
  display: flex;
  max-width: 60%;
  margin: 0 auto;
}

h1 {
  color: white;
  text-align: center;
  border-style: double;
}

#message {
  color: rgb(216, 97, 0);
  font-size: 200%;
}

#stripe {
  background-color: white;
  height: auto;
  text-align: center;
  border-radius: 20px;
}

.selected {
  background-color: rgb(235, 102, 14);
}

.footer-buttons-container {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8%;
  background: rgb(19, 0, 102);
}

#level-text {
  color: #efefef;
}

.level-buttons-container {
  display: flex;
}

.option-button {
  padding: 15%;
}

.modal-title {
  width: 100%;
  font-size: 100%;
}
